<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>main page</title>
        <link rel="stylesheet" href="../../resources/styles.css" th:href="@{/resources/styles.css}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital@1&display=swap">
    </head>
    <body>
        <div>
            <h2 th:utext="#{index.welcome}">Static welcome text</h2>
            <a href="users.html" th:href="users" th:text="#{index.userList}">Static link name</a>
        </div>
    </body>
</html>